*{
    margin: 0px;
    padding: 0px;
}

/* ---------------------nav--------------- */
.nav-container{
    background-color:rgba(172, 166, 166, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left>h5{
    font-size: 20px;
    color: cyan;
    font-weight: 600px;
}
.nav-left >img{
    width: 200px;
}

.nav-right{
    display: flex;
    gap: 30px;
}
.nav-right > li {
    list-style-type: none;
}
.nav-right > li >a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-right > li >a:hover{
    color: cyan;
}


/* ------------banner----------- */
#banner{
    background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   color: white;
   text-align: center;
}
.banner-heading{
    font-size: 86px;
    font-weight: 900;
}
.digital{
    color: red;
}
.banner-description{
    width: 50%;
    margin: auto;
    font-size: 22px;
    padding: 10px;
}

.btn-discover{
    background-color:red;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 20px;
}
.btn-hire{
    background-color:aliceblue;
    color: black;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 15px;
}


/* ------------Service----------- */
