* {
    margin: 0px;
    padding: 0px;
}

/* ---------------------nav--------------- */
.nav-container {
    background-color: rgba(172, 166, 166, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left>h5 {
    font-size: 20px;
    color: cyan;
    font-weight: 600px;
}

.nav-left>img {
    width: 200px;
}

.nav-right {
    display: flex;
    gap: 30px;
}

.nav-right>li {
    list-style-type: none;
}

.nav-right>li>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-right>li>a:hover {
    color: cyan;
}


/* ------------banner----------- */
#banner {
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.banner-heading {
    font-size: 86px;
    font-weight: 900;
}

.digital {
    color: red;
}

.banner-description {
    width: 50%;
    margin: auto;
    font-size: 22px;
    padding: 10px;
}

.btn-discover {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-hire {
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 15px;
}


/* ------------Service----------- */
#service {
    background-image: url(../asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    color: white;
    padding-left: 40px;
}

.service-container {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: flex-start;
    gap: 90px;
    padding-top: 20px;
}

.service-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-left>button {
    width: 160px;
    background-color: white;
    color: gray;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 35px;
}

.service-left>h1 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services {
    color: red;
}

.service-left>p {
    width: 500px;
    font-size: 20px;
    color: rgb(190, 207, 208);
    padding-top: 15px;
    padding-bottom: 30px;
}

.service-left>ol {
    padding-left: 15px;
    font-size: 18px;
    color: rgb(190, 207, 208);
    padding-bottom: 25px;
}

.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ceo-profile {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    border-right: 1px solid red;
}

.ceo-profile>div>img {
    width: 75px;
    height: 75px;
    border-radius: 35px;
}

.ceo-profile>div>h3 {
    font-size: 18px;
    margin-right: 100px;
}

.profile-container>div>button {
    margin-left: 11px;
    font-size: 15px;
    color: rgb(245, 44, 44);
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    text-align: center;
    color: black;
    margin-right: 10px;
    border-radius: 5px;
    padding: 50px;

}

.service-right>.box-container>.box>img {
    width: 100px;
}

.box-container {
    display: flex;
    padding-bottom: 8px;
}

/* ------------Appointment----------- */
.appointment-call>img{
   width: 100px;
}
.appointment-call{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 3px solid white;
}
.appointment-call>div>h5{
    font-size: 12px;
    margin-right: 30px;
}
.appointment-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:red;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: -90px;
    padding: 40px;
    border-radius: 20px;
}
.appointment-description{
    width: 400px;
    font-size: 18px;
}
.appointment-btn>button{
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 25px;
    border: none;
}


/* ------------Blog----------- */

.blog-heading{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.blog-heading>h1{
    font-size: 50px;
}
.blog-heading>h1>span{
    color: red; 
}
.blog-heading>p{
    font-size: 20px;
}

.card{
    width: 330px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 4px 8px 4px gray;
    margin-bottom: 40px;
}

.card>img{
    width: 100%;
    border-radius: 5px;
}

.card>h1{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
.card>p{
    padding-top: 17px;
    padding-left: 30px;
    font-size: 16px;
}
.blog-img{
    display: flex;
    justify-content: center;
    gap: 50px;
}